/*------------------------------------*\
               base
\*------------------------------------*/

div [class*="col"] {
    padding: 0;
    margin: 0;


}

.container-fluid {
    padding: 0 !important;
}

/*------------------------------------*\
               header
\*------------------------------------*/

header {
    height: 110px;

    border-bottom: solid 4px black;

    background-color: #37bbd2;
}

.header-logo, .header-title, .header-point {
    display: inline-block;
}

.header-logo {
    float: left;

    border-radius: 50%;

    margin-top: 25px;
    margin-left: 25px;
}

.header-title {
    margin-top: 31px;
    margin-left: 20px;

    text-transform: capitalize;
}

.header-point {
    float: right;
    line-height: 100px;
    margin-right: 20px;
}

/*------------------------------------*\
    taille position des bloc
\*------------------------------------*/

.big {
    height: 430px;
}

.little {
    height: 215px;
}

.little, .big {
    position: relative;

    border: solid 4px black;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
}

.image {
    position: absolute;
    top: 43%;
    left: 50%;

    transform: translateX(-50%) translateY(-43%);
}

h4 {
    margin-left: 15px;
    margin-top: 15px;

    font-size: 13px;
    text-transform: capitalize;
}

/*------------------------------------*\
        couleurs des bloc
\*------------------------------------*/

.white {
    background-color: #f5f5f5;
}

.grey {
    background-color: #999999;
}

.pink {
    background-color: #fa8a7e;
}

.red {
    background-color: #f8504d;
}

.purple {
    background-color: #b483ff;
}

.dark-purple {
    background-color: #7e52c5;
}

.freen {
    background-color: #b7f6c9;
}

.dark-freen {
    background-color: #35eab5;
}

.yellow {
    background-color: #fbff86;
}

.dark-yellow {
    background-color: #fbed1a;
}

.blue-green {
    background-color: #7efeff;
}

.dark-blue {
    background-color: #3ea8f6;
}

.arrow:after {
    content: "\2794";
    position: absolute;
    top: 5px;
    right: 10px;
    
    font-size: 25px;
}

.triangle:after {
    content: "\25BA";
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 25px;
}
